@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

* {
  font-family: "Comfortaa", cursive;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
p {
  margin: 0;
}

header {
  height: 90%;
  position: relative;
}

#nav {
  width: 95%;
  margin: auto;
  margin-top: 16px;
}
#btn-section .nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #7737f7;
}

.btn {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  outline: none;
  color: #fff;
  background-color: #7737f7;
  border: none;
  box-shadow: #64646f33 0 7px 29px;
}

/* Banner Section */
.banner {
  width: 95%;
  margin: auto;
  height: 80%;
  border-radius: 20px;
  background-image: url(https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Search Section */
.search-section {
  position: absolute;
  width: 70%;
  bottom: 100px;
  right: 300px;
  height: 130px;
  margin: auto;
  background-color: #0c0035;
  color: #fff;
  border-radius: 20px;
}
.date-icon img,
.location-icon img,
.event-icon img {
  margin-right: 16px;
}

.date , .location, .event {
  justify-content: center;
  font-size: 16px;

}
.line {
  width: 300px;
  background-color: #0c0035;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 0px;
  border-bottom: 2px #7737f7 solid;
}
#search {
  width: 140px;
  height: 40px;
  font-size: 16px;
}

/* Upcoming Events */
.upcoming {
  width: 95%;
  margin: auto;
  padding: 20px;
  /* background-color: rgba(196, 196, 196, 0.2); */
}
.section-title h5 {
  font-size: 32px;
}

.box-card {
  padding: 20px;
  height: 180px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.date-box {
  width: 55px;
  height: 55px;
  padding: auto;
  background-color: #7737f7;
  border-radius: 5px;
  color: white;
}
.day,
.month {
  margin: 0;
}

.day {
  font-size: 20px;
  font-weight: bolder;
}
.month {
  font-size: 14px;
}
.box-venue {
  font-weight: bold;
}
.box-location {
  font-size: 18px;
}
.box-location img {
  margin-right: 36px;
}

/* Events */
.events {
  width: 90%;
  margin: auto;
}

.event-card {
  height: 370px;
  width: 345px;
  padding: 0;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1s ease;


}



.event-card:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }
.image {
  position: relative;
}

.image img{
  border-radius: 10px;
}
.price-tag {
  position: absolute;
  width: 100px;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7737f7;
  border-radius: 5px;
  color: #fff;
  top: 20px;
  left: 10px;
}

.events-date .one {
  color: #7737f7;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;





}
.events-date .two {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;


}

.event-info .event-title {
  font-size: 18px;
  font-weight: bold;
}

.event-info .event-venue {
  font-size: 16px;
  margin-top: 10px;
}





/* Pagination */
.pagination {
  width: 30%;
  margin: auto;
}
.current-page {
  color: #7737f7;
}

.pagination p {
  margin: 0 10px;

}

/* footer */
footer {
  background-color: #7737f7;
  padding: 10px;
  text-align: center;
  color: #fff;
}
