{{#partial "title" }}
    Hello
{{/partial}}


{{#partial "content" }}
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://img.icons8.com/wired/64/000000/two-tickets.png" />
                    Tikiti Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Events</a>
                        </li>

                        <li class="nav-item  mx-3">
                            <a class="nav-link " href="/">Upcoming</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Contact Us</a>
                        </li>
                    </ul>
                    <div id="btn-section" class="d-flex">
                        <a class="nav-link" aria-current="page" href="/">Log In</a>
                        <button class="btn" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Banner section -->

        <div class="banner">

        </div>




    </header>


    <!-- Hero section -->

    <div class="search-section d-flex justify-content-around align-items-center ">

        <div class="date d-flex flex-column">
            <div class="date-icon">
                <img
                        src="https://img.icons8.com/external-icongeek26-outline-icongeek26/35/ffffff/external-date-law-and-crime-icongeek26-outline-icongeek26.png" />Date
            </div>
            <input type="text" class="line">
        </div>


        <div class="location  d-flex flex-column"">
        <div class=" location-icon">
            <img src="https://img.icons8.com/dotty/35/ffffff/marker.png" />Location
        </div>
        <input type="text" class="line">
    </div>

    <div class="event d-flex flex-column"">
    <div class=" event-icon">
        <img
                src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/35/ffffff/external-event-camping-kiranshastry-lineal-kiranshastry.png" />
        Event
    </div>
    <input type="text" class="line">
    </div>

    <div class="search-btn">
        <button class="btn" type="button">Search</button>
    </div>

    </div>



    <!-- Upcoming Events -->
    <div class="upcoming">
        <div class="section-title d-flex align-items-center my-4">
            <h5 class="m-0">Upcoming Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png"/>
        </div>


    </div>

{{/partial}}


{{> layout.hbs }}