{{#partial "title" }}
    Tikiti Zone
{{/partial}}


{{#partial "content" }}
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://img.icons8.com/wired/64/000000/two-tickets.png" />
                    Tikiti Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Events</a>
                        </li>

                        <li class="nav-item  mx-3">
                            <a class="nav-link " href="/">Upcoming</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Contact Us</a>
                        </li>
                    </ul>
                    <div id="btn-section" class="d-flex">
                        <a class="nav-link" aria-current="page" href="/">Log In</a>
                        <button class="btn" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Banner section -->

        <div class="banner">

        </div>
        <!-- End of banner section -->



    </header>


    <!--End of header section-->

    <!-- Hero section -->

    <div class="search-section d-flex justify-content-around align-items-center ">

        <div class="date d-flex flex-column">
            <div class="date-icon">
                <img
                        src="https://img.icons8.com/external-icongeek26-outline-icongeek26/30/ffffff/external-date-law-and-crime-icongeek26-outline-icongeek26.png" />Date
            </div>
            <input type="text" class="line">
        </div>


        <div class="location  d-flex flex-column">
        <div class=" location-icon">
            <img src="https://img.icons8.com/dotty/30/ffffff/marker.png" />Location
        </div>
        <input type="text" class="line">
    </div>

    <div class="event d-flex flex-column">
    <div class=" event-icon">
        <img
                src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/30/ffffff/external-event-camping-kiranshastry-lineal-kiranshastry.png" />
        Event
    </div>
    <input type="text" class="line">
    </div>

    <div class="search-btn">
        <button id="search" class="btn" type="button">Search</button>
    </div>

    </div>
    <!--End of Hero section-->


    <!-- Upcoming Events -->
    <div class="upcoming">
        <div class="section-title d-flex align-items-center my-4">
            <h5 class="m-0">Upcoming Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png" />
        </div>

        <div class="row d-flex justify-content-around">

            <div class="col-md-3 d-flex flex-column box-card justify-content-center">
                <div class="d-flex">
                    <div class="date-box d-flex flex-column justify-content-center align-items-center">
                        <p class="day">20</p>
                        <p class="month">
                            Feb
                        </p>
                    </div>

                    <div class="box-venue mx-3">
                        The Nairobi Festival <br>
                        2022
                    </div>
                </div>


                <div class="box-location">
                    <img class="" src="https://img.icons8.com/dotty/35/000000/marker.png" />
                    Ngong RaceCourse

                </div>



            </div>


            <div class="col-md-3 d-flex flex-column box-card justify-content-center">
                <div class="d-flex">
                    <div class="date-box d-flex flex-column justify-content-center align-items-center">
                        <p class="day">20</p>
                        <p class="month">
                            Feb
                        </p>
                    </div>

                    <div class="box-venue mx-3">
                        The Nairobi Festival <br>
                        2022
                    </div>
                </div>


                <div class="box-location">
                    <img class="" src="https://img.icons8.com/dotty/35/000000/marker.png" />
                    Ngong RaceCourse

                </div>



            </div>

            <div class="col-md-3 d-flex flex-column box-card justify-content-center">
                <div class="d-flex">
                    <div class="date-box d-flex flex-column justify-content-center align-items-center">
                        <p class="day">20</p>
                        <p class="month">
                            Feb
                        </p>
                    </div>

                    <div class="box-venue mx-3">
                        The Nairobi Festival <br>
                        2022
                    </div>
                </div>


                <div class="box-location">
                    <img class="" src="https://img.icons8.com/dotty/35/000000/marker.png" />
                    Ngong RaceCourse

                </div>



            </div>



        </div>
    </div>

    <!--End of Upcoming Section-->



    <!-- Events -->

    <div class="events">
        <div class="section-title d-flex align-items-center my-4">
            <h5 class="m-0">Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png" />
        </div>


        <div class="row d-flex justify-content-around">

            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date mt-3 ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>


    <!-- End of events -->




    <!--Start of Pagination section-->

    <div class="pagination d-flex align-items-center my-5 justify-content-center">
        <img src="https://img.icons8.com/ios-filled/30/000000/long-arrow-left.png"/>
        <p>1</p>
        <p class="current-page">2</p>
        <p>3</p>
        <img src="https://img.icons8.com/ios-filled/30/000000/right--v1.png"/>

    </div>

    <!-- End of pagination -->

    <footer>
        <p>All Rights Reserved  @2022</p>
    </footer>
{{/partial}}


{{> layout.hbs }}