{{#partial "title" }}
    My Events
{{/partial}}



{{#partial "content" }}
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://img.icons8.com/wired/64/000000/two-tickets.png" />
                    Tikiti Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Events</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link " href="/">Upcoming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myEvents">My Events</a>
                        </li>
                    </ul>
                    <div id="btn-section" class="d-flex">

                        <button class="btn" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Banner section -->

        <div class="banner">

        </div>
        <!-- End of banner section -->



    </header>


    <div class="allEvents">
        <div class="section-title d-flex align-items-center ">
            <h5 class="m-0">My Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png" />
        </div>
    </div>




    <!-- Events -->

    <div class="events">
        <div class="section-title d-flex align-items-center my-4">
            <h5 class="m-0">Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png" />
        </div>



        <div class="row d-flex justify-content-around flex-wrap  justify-content-sm-center align-items-sm-center">









            <div class="col-lg-3 col-md-5 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                    <button id="search" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#buyTicket">Buy Ticket</button>
                </div>
            </div>




            <div class="col-lg-3 col-md-5">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                    <button id="search" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#buyTicket">Buy Ticket</button>
                </div>
            </div>



            <div class="col-lg-3 col-md-5 ">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                    <button id="search" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#buyTicket">Buy Ticket</button>
                </div>
            </div>








            <div class="col-lg-3 col-md-5">

                <div class="event-card d-flex flex-column">
                    <div class="image">
                        <img height="230"
                             src="https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                             alt="">

                        <div class="price-tag">
                            Ksh 1000
                        </div>
                    </div>
                    <div class="event-details d-flex justify-content-between  align-items-center px-2">

                        <div class="events-date ">
                            <div class="one">
                                Feb
                            </div>
                            <div class="two">
                                20
                            </div>
                        </div>
                        <div class="event-info mt-3">
                            <p class="event-title">The Nairobi Festival 2022</p>
                            <p class="event-venue">
                                Ngong RaceCourse
                            </p>
                        </div>
                    </div>
                    <button id="search" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#buyTicket">Buy Ticket</button>
                </div>
            </div>







        </div>
    </div>


    <!-- End of events -->


    <footer>
        <p>All Rights Reserved @2022</p>
    </footer>


{{/partial}}

{{> layout.hbs}}