{{#partial "title" }}
    My Events
{{/partial}}



{{#partial "content" }}
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://img.icons8.com/wired/64/000000/two-tickets.png" />
                    Tikiti Zone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Events</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link " href="/">Upcoming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myEvents">My Events</a>
                        </li>
                    </ul>
                    <div id="btn-section" class="d-flex">

                        <button class="btn" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Banner section -->

        <div class="banner">

        </div>
        <!-- End of banner section -->



    </header>


    <div class="allEvents">
        <div class="section-title d-flex align-items-center ">
            <h5 class="m-0">My Events</h5>
            <img class="mx-2" src="https://img.icons8.com/ios-filled/50/000000/right--v1.png" />
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}