{{#partial "content"}}

    <p class="alert alert-success mt-5">You have successfully buy your ticket check your phone</p>

    <a href="/events/{{events.id}}/user/ticket/{{user.id}}" class="text-center"> check your details here </a>

{{/partial}}

{{> layout.hbs}}