*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.login-container{
 width: 100vw;
 height: 100vh;
 justify-content: center;
 align-items: center;
 background-color: #D4CBE6;
}
.login-sub-container{
 width: 75%;
 }

.form-container{
 background-color: #fff;
 transform: translateX(-12px);
}
fieldset{
color:white;
 display: flex;
 flex-direction: column;
 padding-left: 3px;
}
.first-fieldset{
 margin-top: 80px;
}
.form-check-label{
color:white;
}
.first-fieldset-signUp{
 margin-top: 0px;
}
.signup-title h2{
color:white;
}
input{
 border:2px solid #7737F7;
 border-radius: 10px;
 padding: 4px;
}
.btn{
 background-color: #7737F7;
 color: #fff;
 border-radius: 10px;
}